html, body {
    font-family: 'Lato';
    height: 100%;
    background-color: #EBEBEB;
}

.wrapper {
    min-height: 100%;
    margin: 0 auto -155px;
}

.footer, .push {
    height: 155px;
    background-image: url('/img/blue-pattern.jpg');
    background-attachment: fixed;
    background-position: center;
}

.header {
    background-image: url('/img/blue-pattern.jpg');
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
    color: #FFF;
    text-align: center;
    height: 400px;
}

.header-title {
    font-size: 4vw;
    font-weight: 600;
}

.header-content {
    margin: 162px 0;
}

.header-subtitle {
    font-size: 2vw;
    font-weight: 300;
}

.header-nav {
    background-color: #FFF;
    color: #555;
    text-align: center;
    width: 100%;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.44) 0 -4px 8px;
}

.nav-element {
    font-size: 1.5vw;
    font-weight: 600;
    padding: 15px 3vw;
    color: #555;
}

.list-inline > li:hover {
    border-bottom: 4px solid #f3786c;
    padding-bottom: 11px;
    cursor: pointer;
}

.list-inline > li {
    padding-left: 3vw;
    padding-right: 3vw;
}

.preview {
    height: 330px;
    margin: 60px 0;
}

.preview-image {
    height: 330px;
    padding: 0;
}

.preview-description {
    background-color: #FFF;
    height: 100%;
    color: #555;
}

.preview-description-text {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}

.preview-link {
    color: #3e637a;
    border: 3px solid #3e637a;
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 150px;
    margin-left: -75px;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
}

.preview-link:hover {
    background-color: #3e637a;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}

.preview-text {
    margin: 0 15px;
}

.preview-title {
    color: #3e637a;
    font-size: 20px;
    font-weight: 700;
}

.preview-text > h4 {
    font-size: 16px;
    font-weight: 600;
    color: #f3786c;
    margin-top: -4px;
}

.about {
    background-color: #FFF;
}

.about > div {
    margin: 50px 0;
}

.about-text {
    margin-top: 4px;
}

.about-text > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.about-title {
    color: #3e637a;
    font-weight: 900;
    font-size: 30px;
}

.picture {
    background-color: #555;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
