html, body {
    font-family: 'Montserrat';
    height: 100%;
    background-color: #EBEBEB;
}

.wrapper {
    min-height: 100%;
    margin: 0 auto -155px;
}

.footer, .push {
    height: 155px;
}

.header {
    background-image: url('/img/header-bg.png');
    background-size: 100%;
    background-attachment: fixed;
    color: #FFF;
    text-align: center
}

.header > h1 {
    font-size: 6vw;
}

.header-content {
    margin: 100px 0;
}

.header-subtitle {
    font-size: 2vw;
}

.header-nav {
    background-color: #FFF;
    color: #555;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 10px 0;
}

.nav-element {
    font-size: 1.5vw;
    font-weight: 600;
    margin: 0 3vw;
}

.preview {
    height: 300px;
    margin: 20px 0;
}

.preview-image {
    height: 300px;
    padding: 0;
}

.preview-description {
    background-color: #FFF;
    height: 100%;
}

.preview-link {
    color: #FFF;
    background-color: #489BD6;
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 160px;
    margin-left: -80px;
    padding: 10px;
}

.preview-description > h2 {
    color: #489bd6
}
