html, body {
    font-family: 'Lato';
    height: 100%;
    background-color: #EBEBEB;
}

.wrapper {
    min-height: 100%;
    margin: 0 auto -155px;
}

.footer, .push {
    height: 155px;
    background-color: #FFF;
}

.header {
    background-image: url('http://placepuppy.it/1400/400');
    background-attachment: fixed;
    background-position-x: center;
    overflow: hidden;
    color: #FFF;
    text-align: center;
    height: 400px;
}

.header-title {
    font-size: 4vw;
    font-weight: 600;
}

.header-content {
    margin: 162px 0;
}

.header-subtitle {
    font-size: 2vw;
    font-weight: 300;
}

.header-nav {
    background-color: #FFF;
    color: #555;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 10px 0;
    margin-top: -20px;
}

.nav-element {
    font-size: 1.5vw;
    font-weight: 600;
    margin: 0 3vw;
}

.preview {
    height: 400px;
    margin: 60px 0;
}

.preview-image {
    height: 400px;
    padding: 0;
}

.preview-description {
    background-color: #FFF;
    height: 100%;
    color: #555555;
}

.preview-description-text {
    font-size: 18px;
    font-weight: 300;
    line-height: 35px;
}

.preview-link {
    color: #FFF;
    background-color: #489BD6;
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 178px;
    margin-left: -89px;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
}

.preview-text {
    margin: 0 15px;
}

.preview-title {
    color: #489bd6;
    font-weight: 600;
}
