html, body {
    font-family: 'Lato';
    height: 100%;
    background-color: #EBEBEB;
}

a:hover {
    text-decoration: none;
}

.wrapper {
    min-height: 100%;
    margin: 0 auto -155px;
}

.footer, .push {
    height: 155px;
    background-image: url('/img/blue-pattern.jpg');
    background-attachment: fixed;
    background-position: center;
    color: #FFF;
}

.header {
    background-image: url('/img/blue-pattern.jpg');
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
    color: #FFF;
    text-align: center;
    height: 400px;
}

.header-title {
    font-size: 4vw;
    font-weight: 600;
}

.header-content {
    margin: 162px 0;
}

.header-subtitle {
    font-size: 2vw;
    font-weight: 300;
}

.header-nav {
    background-color: #FFF;
    color: #555;
    text-align: center;
    width: 100%;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.44) 0 -4px 8px;
}

.nav-element {
    font-size: 1.5vw;
    font-weight: 600;
    padding: 15px 3vw;
    color: #555;
}

.nav-element > a {
    color: #555;
}

.list-inline > li:hover {
    border-bottom: 4px solid #f3786c;
    padding-bottom: 11px;
    cursor: pointer;
}

.list-inline > li {
    padding-left: 3vw;
    padding-right: 3vw;
}

.preview {
    height: 330px;
    margin: 60px 0;
}

.preview-image {
    height: 330px;
    padding: 0;
}

.preview-description {
    background-color: #FFF;
    height: 100%;
    color: #555;
}

.preview-description-text {
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
}

.preview-link {
    color: #3e637a;
    border: 3px solid #3e637a;
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 150px;
    margin-left: -75px;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
}

.preview-link:hover {
    background-color: #3e637a;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}

.preview-text {
    margin: 45px 20px;
}

.preview-title {
    color: #3e637a;
    font-size: 20px;
    font-weight: 700;
}

.preview-subtitle {
    font-size: 16px;
    font-weight: 400;
    color: #f3786c;
    margin-top: -4px;
}

.about {
    background-color: #FFF;
}

.about > div {
    margin: 50px 0;
}

.about-text {
    margin-top: 4px;
    margin-left: 50px;
}

.about-text > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.about-title {
    color: #3e637a;
    font-weight: 900;
    font-size: 30px;
}

.picture {
    background-color: #555;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.responsive-img {
    width: 100%;
}

.process {
    background-color: #FFF;
    margin: 100px;
}

.process-title {
    color: #3E637A;
    font-size: 24px;
    font-weight: 900;
    margin-top: 50px;
}

.process-subtitle {
    font-size: 16px;
    font-weight: 400;
    color: #f3786c;
    margin-top: -4px;
    margin-bottom: 50px;
}

.process-img-left {
    padding-left: 0;
}

.process-img-right {
    padding-right: 0;
}

.process-row {
    margin-top: 100px;
}

.process-side-text {
    margin: 0 30px;
}

.process-paragraph {
    font-size: 16px;
    line-height: 24px;
    color: #555;
}

.section-title {
    font-size: 18px;
    line-height: 24px;
    color: #f3786c;
    font-weight: 900;
}

.sub {
    font-size: 22px;
    color: #555;
    margin-bottom: 50px;
}

.end {
    padding-bottom: 50px;
}

.thank-you {
    text-align: center;
    font-size: 21px;
    color: #3e637a;
    line-height: 30px;
}

.heart {
    text-align: center;
    font-size: 36px;
    color: rgba(0, 0, 0, 0.12);
}

.responsive-shown {
    display: none;
}

.responsive-hidden {
    display: block;
}

.surrounding {
    height: 100px;
    margin-bottom: 50px;
    background-color: #3e637a;
}

.surrounding-side {
    height: 100%;
}

.surrounding-center {
    height: 100%;
    background-color: #FFF;
}



.surrounding-side > p > a {
    color: #FFF;
    font-size: 22px;
}

.surrounding-side > p {
    margin-top: 34px;
    text-align: center;
}

.surrounding-center > p {
    margin-top: 34px;
    font-size: 22px;
    text-align: center;
}

.icon {
    margin-right: 5px;
    font-size: 20px;
}

span.icon-info {
    position: relative;
    top: -3px;
    font-size: 18px;
}

.contact-footer {
    margin-top: 57px;
    font-size: 30px;
}

.social {
    width: 45px;
    height: 45px;
    display: inline-block;
    margin: 55px 1px;
}

.social:hover {
    background-position-y: 45px;
    cursor: pointer;
}

.dribble {
    background-image: url('/img/icons/social_dribbble.png');
}

.facebook {
    background-image: url('/img/icons/social_facebook.png');
}

.github {
    background-image: url('/img/icons/social_github.png');
}

.instagram {
    background-image: url('/img/icons/social_instagram.png');
}

.twitter {
    background-image: url('/img/icons/social_twitter.png');
}

.pinterest {
    background-image: url('/img/icons/social_pinterest.png');
}

.vimeo {
    background-image: url('/img/icons/social_vimeo.png');
}

@media (max-width: 992px) {
    .preview {
        height: auto;
    }

    .preview-description {
        height: 350px;
        padding-top: 20px;
    }

    .preview-image {
        width: 100%;
    }

    .responsive-shown {
        display: block;
    }

    .responsive-hidden {
        display: none;
    }
}
