<div class="row about">
    <div class="col-md-12">
        <div class="col-md-3 col-md-offset-1 picture">
        </div>
        <div class="col-md-7 about-text">
            <h1 class="about-title">HEY THERE!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et ex tempor, ultrices urna nec, bibendum leo. Class aptent taciti. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et ex tempor, ultrices urna nec, bibendum leo. </p>
        </div>
    </div>
</div>
