<div class="row about">
    <div class="col-md-12">
        <img class="col-md-3 col-md-offset-1 picture" src="img/face.jpg" alt=""/>
        <div class="col-md-7 about-text">
            <h1 class="about-title">HEY THERE!</h1>
            <p>I'm Mike Nolan. A student at Rochester Institute of Technology majoring in New Media Interactive Development (BS) and minoring in Computer Science as well as Free and Open Source Software. Topics such as NLP, data visualization, and application design are what interest me. I participate in organizations such as the <a href="https://github.com/FOSSRIT">RIT FOSSBox</a>, <a href="https://github.com/hhroc">Hacks/Hackers Rochester</a>, and <a href="https://coderit.org">CodeRIT.</a></p>
        </div>
    </div>
</div>
