<div class="container">
    <div class="row preview" ng-repeat="portfolio in portfolios">
        <img ng-if="$even" src="{{portfolio.img}}" class="col-md-7 col-md-offset-1 preview-image" alt=""/>
        <div class="col-md-3 preview-description" ng-class="{'col-md-offset-1': $odd}">
            <div class="preview-text">
                <h2 class="preview-title">{{portfolio.title | uppercase}}</h2>
                <h4 ng-if="portfolio.subtitle">{{portfolio.subtitle | uppercase}}</h4>
                <ul ng-if="portfolio.techUsed">
                    <li ng-repeat="tech in portfolio.techUsed">{{tech}}</li>
                </ul>
                <p class="preview-description-text">{{portfolio.description}}</p>
            </div>
            <a ng-href="/#/work/{{portfolio.title | urlformat }}" class="preview-link">CHECK OUT MORE</a>
        </div>
        <img ng-if="$odd" src="{{portfolio.img}}" class="col-md-7 preview-image" alt=""/>
    </div>
</div>
<div class="row about">
    <div class="container">
        <div class="container">
            <div class="col-md-3 col-md-offset-1 picture">
            </div>
            <div class="col-md-7 about-text">
                <h1 class="about-title">HEY THERE!</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et ex tempor, ultrices urna nec, bibendum leo. Class aptent taciti. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et ex tempor, ultrices urna nec, bibendum leo. </p>
            </div>
        </div>
    </div>
</div>
