<div class="container ">
    <div class="row preview">
        <div class="col-md-8 preview-image">
        </div>
        <div class="col-md-4 preview-description">
            <h2>PortFlowlio Piece</h2>
            <ul>
                <li>Photoshoop</li>
                <li>Illoostrator</li>
                <li>Floosh</li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quam felis, malesuada quis dui sit amet, bibendum vehicula lectus. Curabitur iaculis massa vel mauris maximus, at faucibus tortor tristique.</p>
            <a>Read More.</a>
        </div>
    </div>
    <div class="row preview">
        <div class="col-md-4 preview-description">
            <h2>PortFlowlio Piece</h2>
            <ul>
                <li>Photoshoop</li>
                <li>Illoostrator</li>
                <li>Floosh</li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quam felis, malesuada quis dui sit amet, bibendum vehicula lectus. Curabitur iaculis massa vel mauris maximus, at faucibus tortor tristique.</p>
            <a>Read More.</a>
        </div>
        <div class="col-md-8 preview-image">
        </div>
    </div>
</div>
