<div class="container ">
    <div class="row preview" ng-repeat="portfolio in portfolios">
        <img ng-if="$even" src="{{portfolio.img}}" class="col-md-8 preview-image" alt=""/>
        <div class="col-md-4 preview-description">
            <h2>{{portfolio.title | uppercase}}</h2>
            <ul>
                <li ng-repeat="tech in portfolio.techUsed">{{tech}}</li>
            </ul>
            <p>{{portfolio.description}}</p>
            <a class="preview-link">CHECK OUT MORE</a>
        </div>
        <img ng-if="$odd" src="{{portfolio.img}}" class="col-md-8 preview-image" alt=""/>
    </div>
</div>
