<div class="row footer">
    <div class="container">
        <div class="col-lg-3 contact-footer">
            <span class="glyphicon glyphicon-envelope icon"></span><span class="icon-info">sarcher@isis.gov</span>
        </div>
        <div class="col-lg-3 contact-footer">
            <span class="glyphicon glyphicon-phone icon"></span><span class="icon-info">867 234 8476</span>
        </div>
        <div class="col-lg-4 col-lg-offset-2">
            <div class="social dribble"></div>
            <div class="social facebook"></div>
            <div class="social github"></div>
            <div class="social instagram"></div>
            <div class="social pinterest"></div>
            <div class="social twitter"></div>
            <div class="social vimeo"></div>
        </div>
    </div>
</div>
