<div class="row footer">
    <div class="container">
        <div class="col-xs-3 contact-footer">
            <span class="glyphicon glyphicon-envelope icon"></span><span class="icon-info">me@nolski.rocks</span>
        </div>
        <div class="col-xs-3 contact-footer">
            <span class="glyphicon glyphicon-phone icon"></span><span class="icon-info">585 259 6550</span>
        </div>
        <div class="col-xs-2 col-xs-offset-4">
            <a target="_blank" href="https://github.com/nolski"><div class="social github"></div></a>
            <a target="_blank" href="https://twitter.com/theroguenolski"><div class="social twitter"></div></a>
        </div>
    </div>
</div>
