<div class="row header">
    <div class="container">
        <div class="col-md-12">
            <div class="header-content">
                <h1 class="header-title">This is the title of the web page</h1>
                <p class="header-subtitle">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit, turpis eu vulputate feugiat, dui sapien cursus dolor
                </p>
            </div>
        </div>
    </div>
    <ul class="list-inline header-nav">
        <li>Work</li>
        <li>About</li>
        <li>Resume</li>
    </ul>
</div>
