<div class="row">
    <div class="header">
        <div class="container">
            <div class="col-md-12">
                <div class="header-content">
                    <h1 class="header-title">Sterling Archer</h1>
                    <p class="header-subtitle">
                    New Media Designer and Illustrator
                    </p>
                </div>
            </div>
        </div>
    </div>
    <ul class="list-inline header-nav">
        <li class="nav-element">Work</li>
        <li class="nav-element">About</li>
        <li class="nav-element">Resume</li>
    </ul>
</div>
