<div class="row">
    <div class="header">
        <div class="container">
            <div class="col-md-12">
                <div class="header-content">
                    <h1 class="header-title">Sterling Archer</h1>
                    <p class="header-subtitle">
                    New Media Designer and Illustrator
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <ul class="list-inline header-nav">
            <li class="nav-element"><a href="/#/work">WORK</a></li>
            <li class="nav-element"><a href="/#/#about">ABOUT</a></li>
            <li class="nav-element">RESUME</li>
        </ul>
    </div>
</div>
